[Desktop Entry]
Name=Project Dashboard
Exec=/usr/bin/qmlscene $@ usr/share/project-dashboard/project-dashboard.qml
Icon=project-dashboard.png
Terminal=false
Type=Application
Keywords=Project,Git,Launchpad,Management;
X-Ubuntu-Touch=true
