[Desktop Entry]
Name=Project Dashboard
Exec=/usr/bin/qmlscene $@ project-dashboard.qml
Icon=project-dashboard.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
