[Desktop Entry]
Name=Project Dashboard
Exec=qmlscene $@ /usr/share/project-dashboard/project-dashboard.qml
Icon=project-dashboard-shadowed.png
Terminal=false
Type=Application
Keywords=Project,Git,Launchpad,Management;
X-Ubuntu-Touch=true
